body{
	font-family: "Comic Sans MS";
}
.form{
	margin: 70px 300px 0px;
}

fieldset{
	border-radius: 10px;
	background-color: #dfdddd;
	box-shadow: 7px 7px 7px #111;
}

legend{
	font-size:25px;
}

label{
	float: right;
}

.input{
	width: 350px;
	font-family: "Comic Sans MS";
	font-size: 15px;
	border-radius: 10px;
	background: none;
}

.input:hover{
	box-shadow: 5px 5px 5px #111;
	border-radius: 10px;
}

.inputcpf{
	width: 130px;
	font-family: "Comic Sans MS";
	font-size: 15px;
	border-radius: 10px;
	background: none;
}

.inputcpf:hover{
	box-shadow: 5px 5px 5px #111;
}

.inputdata{
	width: 150px;
	font-family: "Comic Sans MS";
	font-size: 15px;
	border-radius: 10px;
	background: none;
}

.inputdata:hover{
	box-shadow: 5px 5px 5px #111;
}

.inputestado{
	width: 190px;
	font-family: "Comic Sans MS";
	font-size: 15px;
	border-radius: 10px;
	background: none;
}

.inputestado:hover{
	box-shadow: 5px 5px 5px #111;
}

.inputcidade{
	width: 150px;
	font-family: "Comic Sans MS";
	font-size: 15px;
	border-radius: 10px;
	background: none;
}

.inputcidade:hover{
	box-shadow: 5px 5px 5px #111;
}

.inputbairro{
	width: 150px;
	font-family: "Comic Sans MS";
	font-size: 15px;
	border-radius: 10px;
	background: none;
}

.inputbairro:hover{
	box-shadow: 5px 5px 5px #111;
}

.submit{
	color: #7a91c1;
	font-family: "Comic Sans MS";
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	float: right;
	border-radius: 8px;
	height: 30px;
	box-shadow: 5px 5px 5px;
}

.submit:hover{
	padding: 5px;
	background-color: #7a91c1;
	color: white;
	box-shadow: 5px 5px 5px;
}
