/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04/11/2020, 21:00:48
    Author     : CaioCesar
    */
    body{
    	background-image: url(../imagens/Computer.png);
    	background-repeat: no-repeat;
    	background-position: 425px 100px;
    	background-size: 40px 10px 0px;
    }
    form{
    	margin: 200px 500px 0px;
    }

    table{
    	margin: 40px 10px 0px 20px;
    }

    fieldset {
    	border: 2px #fff solid;
    	border-radius: 10px;
    	width: 300px;
    	margin-top: 20px;
    	margin: 0px auto;
    }

    legend{
    	color: #fff;
    	font-weight: bold;
    	font-family: "Comic Sans MS";
    }

    td{
    	width: 150px;
    	font-family: "Comic Sans MS";
    	font-size: 15px;
    	color: #fff;
    	text-align: right;
    	font-weight: bold;
    }

    .input{
    	width: 200px;
    	font-family: "Comic Sans MS";
    	font-size: 15px;
    	border-radius: 10px;
    	background: none;
    	border-color: #fff;
        color: #fff;
    	box-shadow: 5px 5px 5px #111;
    }

    .input:hover{
    	text-shadow: 5px 1px 1px #35b8b0;
    	padding: 0px;
    	background: none;
    	color: white;
    	border-color: #111;
    }

    .submit{
    	color: #7a91c1;
    	font-family: "Comic Sans MS";
    	margin-top: 10px;
    	margin-bottom: 10px;
    	margin-left: 10px;
    	float: right;
    	border-radius: 8px;
    	height: 30px;
    	box-shadow: 5px 5px 5px #111;
    }

    .submit:hover{
    	padding: 5px;
    	font-family: "Comic Sans MS";
    	background-color: #7a91c1;
    	color: white;
    }